/*media queries*/

@media screen and (max-width: 1100px){
    .links{margin-top: 10px;
        display: flex;
        flex-direction: column;
        a{margin-top: 1rem;}
        .row.primary {
        grid-template-columns: 1fr;
        }

}


.form-contact{
    margin: 1rem;
    min-width: 50%;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
}
.datos{display: flex; 
       display: none;}
    
.parent{grid-template-columns: repeat(2, 1fr);} 
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8{grid-column: span 1;} 
    }

//Variables

$principal: #8c1f9b;

$fondo: #f4f4f4;

$font-color: black;